@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #18181B;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-family: "Micro 5", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.navlist{
    list-style: none;
    display: flex;
    align-items: center;
}
.navlist a{
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: all 0.3s ease;
}
.navlist a:hover::after{
    width: 100%;
    
}
.imasugu{
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: darkseagreen;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.imasugu:hover {
    background-color: darkolivegreen;
}

#menu-icon{
    color: white;
    font-size: 30px;
    z-index:10001;
    cursor: pointer;
    display: none;
}

.domain-expansion{

    height: 100%;
    width:100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
}
.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px rgb(127, 216, 127);
}
section{
    padding: 0 19%;
    
}

.main-text h5{
    font-family: 'Poppins', sans-serif;
    line-height: 22.4px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none solid rgb(164, 187, 227);
    text-align: left;
    word-spacing: 0px;
    color: #ccc;
    margin-bottom: 40px;
}
.main-text p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    color: #ccc;
}
.main-text h1{
    font-family: "Rubik Glitch Pop", system-ui;
    color: rgb(88, 149, 88);
    font-size:50px;
}
.main-img{
    position: relative;
}

#homepage-third-div{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(98, 119, 98);
    text-align: center;
    
}
.container{
    color: #fff;
    font-weight: 1000px;
    font-weight: bold;
}

#urlInput{
    font-weight: bold;
    color: #0B5FA5;
    width: 150px;
    padding: 5px 4px 7px 4px;
}

button {
    font-weight: bold;
    padding: 5px 4px 7px 4px;
}


